body {
    background-color: #6bc5c3;
  }
  
  h1 {
    color: #d30001;
    padding: 0%;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    padding-left: 1%;
  }
  header {
    display: flex;
    justify-content: flex-start;
    background-color: #a3d5c6;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    background-color: #a3d5c6;
    font-family: Consolas,monospace; 
    padding-right: 2%;    
  }

a {
  text-decoration: none;
  color: #000;
}

  
main {
    background-color: #FFC6D6;
    margin-top: 1%;
}

.innehåll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 30%;
}

h2 {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.text {
    width: 40%;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}

  footer {
    padding-right: 1%;
    padding-left: 1%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Consolas,monaco,monospace; 
}
  