body {
  background-color: #6bc5c3;
}

h1 {
  color: #d30001;
  padding: 0%;
  padding-left: 1%;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

header {
  display: flex;
  justify-content: flex-start;
  background-color: #a3d5c6;
}
nav {
  display: flex;
  justify-content: flex-end;
  background-color: #a3d5c6;
  font-family: Consolas, monaco, monospace;
}
ul {
  padding-right: 5%;
}

main {
  background-color: #ffc6d6;
  padding-top: 1%;
  margin-top: 1%;
}

h2 {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  display: flex;
  justify-content: center;
}

p {
  color: black;
}

h4 {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.huvudprodukt {
  border: solid;
  border-radius: 1%;
  background-color: #6bc5c3;
  width: 50%;
  float: center;
  margin-left: 25%;
  margin-bottom: 1%;
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.bild {
  display: flex;
  justify-content: center;
}

.products {
  display: flex;
  justify-self: space-between;
  flex-wrap: wrap;
  gap: 8%;
  justify-content: center;
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
  padding-bottom: 10%;
  padding-top: 5%;
}

.bil {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productEtt {
  border: solid;
  border-radius: 2%;
  background-color: #6bc5c3;
}


.productTvå {
  border: solid;
  border-radius: 2%;
  background-color: #6bc5c3;
}

.productTre {
  border: solid;
  border-radius: 2%;
  background-color: #6bc5c3;
}

.productFyra {
  border: solid;
  border-radius: 2%;
  background-color: #6bc5c3;
}

.productFem {
  border: solid;
  border-radius: 2%;
  background-color: #6bc5c3;
}

.productSex {
  border: solid;
  border-radius: 2%;
  background-color: #6bc5c3;
}

footer {
  padding-right: 1%;
  padding-left: 1%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: Consolas,monaco,monospace; 
}