body {
  background-color: #6bc5c3;
}

h1 {
  color: #d30001;
  padding: 0%;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

header {
  display: flex;
  justify-content: flex-start;
  background-color: #325e67;
}
nav {
  display: flex;
  justify-content: flex-end;
  background-color: #325e67;
}
ul {
  padding-right: 5%;
}

main {
  background-color: #ffc6d6;
}

h2 {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  display: flex;
  justify-content: center;
}

.huvudprodukt {
  background-color: #6bc5c3;
  float: center;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 1%;
}

.bild {
    display: flex;
    justify-content: center;
}

.products {
  display: flex;
  justify-self: space-between;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
  
}

footer {
  display: flex;
  justify-content: space-between;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

p {
  color: #d30001;
}
