body {
    background-color: #6BC5C3;
}

h1 {
    color: #D30001;
    padding: 0%;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    padding-left: 1%;
}

header {
    display: flex;
    justify-content: flex-start;
    background-color: #a3d5c6;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: #a3d5c6;
    font-family: Consolas, monaco, monospace;
}

a {
    text-decoration: none;
    color: black;
}

h3 {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
h4 {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

ul {
    padding-right: 5%;
}

main {
    margin-top: 1%;
    background-color: #FFC6D6;
    display: flex;
}

button {
    width: 15%;
    height: 5%;
    background-color: #D30001;
    border: solid black 2px;
    border-radius: 9%;
    color: #fff;
    font-family: Consolas,monospace;     
}

div {
    display: flex;
    flex-direction: column;
}

.information {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 4%;
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

footer {
    padding-right: 1%;
    padding-left: 1%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Consolas,monaco,monospace; 
}